  .header {
    padding: 10px;
    box-shadow: 5px 2px 5px grey;
  }

  .logo-text {
    font-size: 42px;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 26px;
    font-weight: bolder;
    color: #066CA5;
  }

  .nav {
    margin-top: 5px;
  }

  .nav-link {
    border-radius: 20px;
    color: #133A5B;
    margin-right: 10px;
  }

  .nav-link:hover {
    background-color: #AECBE5;
    color: white;
  }

  .prop-img {
    border-radius: 10px;
    object-fit: fill;
  }